:host {
    display: inline-block;
    position: relative;
    padding: 3px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    z-index: 0;
    line-height: 1;

    width: 30px;
    height: 30px;

    box-sizing: border-box !important;
}