:host {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    position: relative;

    vertical-align: middle;

    fill: currentcolor;
    stroke: none;

    width: 24px;
    height: 24px;
}

svg {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
}