<table class="table table-hover" *ngIf="display">
    <thead style="background-color: white;">
    <tr>
        <template ngFor let-column [ngForOf]="columns | tablefilter">
            <th valign=column.valign style=column.style name=column.tag>
                <button (click)="orderClick($event, column.tag)">{{column.name}}
                    <iicon icon="keyboard-arrow-up" *ngIf="displayOrder(column.tag, -1)"></iicon>
                    <iicon icon="keyboard-arrow-down" *ngIf="displayOrder(column.tag, 1)"></iicon>
                </button>
            </th>
        </template>
        <th style="width: 3%" name="details" *ngIf="settings">
            <picon-button icon="settings" title="Settings" (click)="settingsCallback.emit()"></picon-button>
        </th>
    </tr>
    </thead>
    <tbody>
    <template ngFor let-dat [ngForOf]="data | orderBy: [order,orderOption] | datafilter: [query, displayTemplate]">
        <tr *ngIf="shouldBeShown(dat)">
            <template ngFor let-column [ngForOf]="columns | tablefilter">
                <td *ngIf="column.type?.tag==='url'"><a class="anchored" href="{{dat.getProperty(column.url).text}}" target="_blank">{{dat.getProperty(column.tag).text}}</a>
                </td>
                <td *ngIf="column.type?.tag==='text'">
                    <div [innerHtml]="dat.getProperty(column.tag).text|citation: [citationServ] | sanitizeHtml"></div>
                </td>
                <td *ngIf="column.type?.tag==='label'">
                    <template ngFor let-sitem [ngForOf]="dat.getPropertyListItems(column.tag)"
                              *ngIf="column.type?.labelCls">
                        <ptooltip [tooltip]="column.values[sitem.content]"
                                  [tooltipHtml]="sitem.htmlChilds | citation: [citationServ]" [position]="'n'">
                            <div *ngIf="(column.type.colors | json) == '{}'" class="{{column.type.getCls(sitem.content)}} {{column.type.labelCls.getCls(sitem.content)}} mylabel">
                                {{sitem.content + 'test'}}
                            </div>
                            <div *ngIf="(column.type.colors | json) != '{}'" [style.background-color]="getColor(column, sitem.content)" class="{{column.type.getCls(sitem.content)}} {{column.type.labelCls.getCls(sitem.content)}} mylabel">
                                {{sitem.content}}
                            </div>
                        </ptooltip>
                    </template>
                </td>
                <td *ngIf="column.type?.tag=='rating'">
                    <iicon icon="star" *ngIf="dat.getRating()!=0">{{dat.getRating()}}</iicon>
                </td>
            </template>
            <td>
                <picon-button icon="info" title="Details" (click)="showDetails.emit(dat)"></picon-button>
            </td>
        </tr>
    </template>
    </tbody>
</table>
        