:host {
    display: block;
}

.grid-table {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-flow: column;

}

.mylabel {
    margin: 2px;
    display: inline-block !important;
    cursor: pointer;
    font-size: 14px !important;
    white-space: inherit;
}

.label-unknown {
    color: black;
    border: solid black 1px;
}

th > button {
    border: none;
    padding: 0;
    outline: none;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */

}

table tr {
    white-space: normal;
}

table {
    width: auto;
}

.anchored::before {
    content: '';
    display: block;
    height:48px;
    margin:-48px 0 0;
}

.unknown {
    background-color: lightgray;
    color: white;
}