<table class="table table-hover" *ngIf="display">
    <thead style="background-color: white;">
    <tr>
        <template ngFor let-column [ngForOf]="columns | tablefilter">
            <th>
                <button (click)="orderClick($event, column.tag)">{{column.name}}
                    <iicon icon="keyboard-arrow-up" *ngIf="displayOrder(column.tag, -1)"></iicon>
                    <iicon icon="keyboard-arrow-down" *ngIf="displayOrder(column.tag, 1)"></iicon>
                </button>
            </th>
        </template>
        <th style="width: 3%" name="details" *ngIf="settings">
            <picon-button icon="settings" title="Settings" (click)="settingsCallback.emit()"></picon-button>
        </th>
    </tr>
    </thead>
    <tbody>
    <template ngFor let-dat [ngForOf]="data | orderBy: [order,orderOption] | datafilter: [query, displayTemplate]">
        <tr *ngIf="shouldBeShown(dat)">
            <template ngFor let-column [ngForOf]="columns | tablefilter">
                <td *ngIf="column.type?.tag==='url'">
                    <a *ngIf="isUrl(dat.getProperty(column.url).text)" class="anchored" href="{{dat.getProperty(column.url).text}}" target="_blank">{{dat.getProperty(column.tag).text}}</a>
                    <div *ngIf="!isUrl(dat.getProperty(column.url).text)" class="anchored">{{dat.getProperty(column.tag).text}}</div>
                </td>
                <td *ngIf="column.type?.tag==='text'">
                    <div [innerHtml]="dat.getProperty(column.tag).text|citation: [citationServ] | sanitizeHtml"></div>
                </td>
                <td *ngIf="column.type?.tag==='label' && !column.repo">
                    <template ngFor let-sitem [ngForOf]="dat.getPropertyListItems(column.tag)"
                              *ngIf="column.type?.labelCls">
                        <ptooltip [tooltip]="column.values[sitem.content].tag"
                                  [tooltipHtml]="sitem.htmlChilds | citation: [citationServ]" [position]="'n'">
                            <div *ngIf="column.type.colors.isEmpty()" class="{{column.type.getCls(sitem.content)}} {{column.type.labelCls.getCls(sitem.content)}} mylabel" (click)="searchFor(column.tag, sitem.content)">
                                {{sitem.content}}
                            </div>
                            <div *ngIf="!column.type.colors.isEmpty()" [style.color]="getForegroundColor(column, sitem.content)" [style.background-color]="getColor(column, sitem.content)" class="{{column.type.getCls(sitem.content)}} {{column.type.labelCls.getCls(sitem.content)}} mylabel" (click)="searchFor(column.tag, sitem.content)">
                                {{sitem.content}}
                            </div>
                        </ptooltip>
                    </template>
                    <ptooltip *ngIf="dat.getPropertyListItems(column.tag).length === 0" [tooltipHtml]="'There was no value for this field. Please submit one via pull request.'">
                        <div class="label mylabel unknown">unknown</div>
                    </ptooltip>
                </td>
                <td *ngIf="column.type?.tag==='label' && column.repo">
                    <template ngFor let-sitem [ngForOf]="dat.getRepoLabels(column, cd)?.list"
                              *ngIf="column.type?.labelCls">
                        <ptooltip [tooltipHtml]="sitem.htmlChilds" [position]="'n'">
                            <div *ngIf="column.type.colors.isEmpty()" class="{{column.type.getCls(sitem.content)}} {{column.type.labelCls.getCls(sitem.content)}} mylabel" (click)="searchFor(column.tag, sitem.content)">
                                {{sitem.content}}
                            </div> 
                            <div *ngIf="!column.type.colors.isEmpty()" [style.background-color]="getColor(column, sitem.content)" class="{{column.type.getCls(sitem.content)}} {{column.type.labelCls.getCls(sitem.content)}} mylabel" (click)="searchFor(column.tag, sitem.content)">
                                {{sitem.content}}
                            </div>
                        </ptooltip>
                    </template>
                    <ptooltip *ngIf="dat.getRepoLabels(column, cd) === undefined" [tooltipHtml]="'There was no value for this field. Please submit one via pull request.'">
                        <div class="label mylabel unknown">unknown</div>
                    </ptooltip>
                </td>
                <td *ngIf="column.type?.tag=='rating'">
                    <iicon icon="star" *ngIf="dat.getRating()!=0">{{dat.getRating()}}</iicon>
                </td>
            </template>
            <td>
                <picon-button icon="info" title="Details" (click)="showDetails.emit(dat)"></picon-button>
            </td>
        </tr>
    </template>
    </tbody>
</table>
        
