:host {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 998;
    background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
    .dialog {
        width: 900px !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .dialog {
        width: 600px !important;
    }
}

@media (max-width: 660px) {
    .dialog {
        width: 90% !important;
    }
}

.dialog {
    max-height: inherit !important;
    position: relative !important;
    border-radius: 5px;
    background: #ffffff;
    color: #212121;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    margin-top: 25px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
}

.buttons {
    color: #3f51b5;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;

    position: relative;
    padding: 8px;
    margin: 0;
}

:host /deep/ .pheader {
    border-bottom: 1px solid #eee;

    padding: 15 15 8 15;
    margin: 0 0 20 0;
}

:host /deep/ .pheader h2 {
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
}