:host {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;

    position: relative;
}

:host:focus {
    outline: none;
}

.pcheckbox {
    box-sizing: border-box;
    height: 18px;
    width: 18px;
    border: solid 2px;
    border-radius: 2px;
    pointer-events: none;
    -webkit-transition: background-color 140ms, border-color 140ms;
    transition: background-color 140ms, border-color 140ms;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.pcheckmark {
    position: absolute;
    width: 36%;
    height: 70%;
    border-style: solid;
    border-top: none;
    border-left: none;
    transform-origin: 97% 86%;
    -webkit-transform-origin: 97% 86%;
    transform: rotate(45deg);
    border-right-width: calc(2 / 15 * 18px);
    border-bottom-width: calc(2 / 15 * 18px);
    border-color: white;
}

.plabel {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    padding-left: 8px;
}