:host /deep/ ng-select {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
}

:host /deep/ div {
    z-index: 3001;
}

:host /deep/ input {
    width: 100%;
}

:host /deep/ .below {
    border: 0;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
}

:host /deep/ .option {
    background-color: #777;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}

:host /deep/ .deselect-option {
    color: #fff;
}

:host /deep/ li[role="menuitem"] {
    z-index: 5000;
}

:host /deep/ .ui-select-container.ui-select-multiple.dropdown.form-control.open {
    z-index: initial;
    line-height:20px;
    margin:0;
    border: 0;
    border-bottom: 1px solid rgb(170, 170, 170);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
}

:host /deep/ span.ui-select-match-item.btn.btn-default.btn-secondary.btn-xs {
    background-color: rgb(119, 119, 119);
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid rgb(170, 170, 170);
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px 3px 0;
}

:host /deep/ span.ui-select-match-item.btn.btn-default.btn-secondary.btn-xs a.close {
    color: white;
    margin-top:1px;
    float: left;
    margin-left: -1px !important;
    margin-right: 5px;
    opacity: 1;
    font-weight: initial;
}

:host /deep/ span.ui-select-match-item.btn.btn-default.btn-secondary.btn-xs a.close:hover {
    opacity: 0.5;
}