comparison {
    min-height: 100%;
    position: relative;
    display: block;
}

.description > :first-child {
    margin-top: 0;
}

.description > :last-child {
    margin-bottom: 0;
}

.card-content {
    padding: 16px;
    position: relative;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding: 10px;
}

pdialog {
    z-index: 5000;
}

.floatThead-container {
    z-index: 3000;
}

.ltable {
    display: none;
}

.large-paper-card {
    width: 100%;
    margin: 0 0 20 0;
    padding-bottom: 0px;
}

.super-large-paper-card {
    min-width: 100%;
    margin: 0 0 20 0;
    padding-bottom: 0px;
}

/* github corner */
.github-corner {
    z-index: 1000;
}

.github-corner svg {
    z-index: 999;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

.search-indicator {
    color: rgba(255, 0, 0, 0.52);
    font-size: 8pt;
    opacity: 80;
}